.body {
    display: flex;
}

.container {
    display: flex;
    flex-direction: column;
}

.scoreboard {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.playerside,
.announcer,
.computerside {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inputs {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}