.body {
    display: flex;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px 200px;
    min-width: 450px;
}

.scoreboard {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0px 50px;
}

.playerside,
.announcer,
.computerside {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inputs {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0px 50px;
}